#Database
DB_NAME=FormaDB
DB_USER=forma
DB_PASSWORD=
DB_URL=jdbc:postgresql://localhost:5432/FormaDB

# SeaweedFS / AWS
# When running a local instance the keys need to be the same as:
# identities.credentials.accessKey
# identities.credentials.secretKey
AWS_ACCESS_KEY=PLACE_YOUR_ACCESSKEY_HERE
AWS_SECRET_KEY=PLACE_YOUR_SECRET_KEY_HERE_IT_MUST_BE_SECRET

# Global admin
ADMIN_USER=admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASS=



