{
  "identities": [
    {
      "name": "spring-app-user",
      "credentials": [
        {
          "accessKey": "PLACE_YOUR_ACCESSKEY_HERE",
          "secretKey": "PLACE_YOUR_SECRET_KEY_HERE_IT_MUST_BE_SECRET"
        }
      ],
      "actions": ["Admin", "Read", "Write", "List", "Tagging"]
    }
  ]
}
