@font-face {
    font-family: "icons";
    src: url("./icons.eot?b51ed969252e439c80670cd20f3b008f#iefix") format("embedded-opentype"),
url("./icons.woff2?b51ed969252e439c80670cd20f3b008f") format("woff2"),
url("./icons.woff?b51ed969252e439c80670cd20f3b008f") format("woff");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-x-lg:before {
    content: "\f101";
}
.icon-three-dots-vertical:before {
    content: "\f102";
}
.icon-repeat:before {
    content: "\f103";
}
.icon-record-circle:before {
    content: "\f104";
}
.icon-plus-lg:before {
    content: "\f105";
}
.icon-person-circle:before {
    content: "\f106";
}
.icon-lightning-charge:before {
    content: "\f107";
}
.icon-grip-vertical:before {
    content: "\f108";
}
.icon-fonts:before {
    content: "\f109";
}
.icon-file-plus:before {
    content: "\f10a";
}
.icon-currency-euro:before {
    content: "\f10b";
}
.icon-chevron-up:before {
    content: "\f10c";
}
.icon-chevron-right:before {
    content: "\f10d";
}
.icon-chevron-left:before {
    content: "\f10e";
}
.icon-chevron-down:before {
    content: "\f10f";
}
.icon-check-square:before {
    content: "\f110";
}
.icon-caret-right-fill:before {
    content: "\f111";
}
.icon-card-text:before {
    content: "\f112";
}
.icon-card-list:before {
    content: "\f113";
}
.icon-calendar2-date:before {
    content: "\f114";
}
.icon-arrows-angle-expand:before {
    content: "\f115";
}
.icon-arrows-angle-contract:before {
    content: "\f116";
}
.icon-9-square:before {
    content: "\f117";
}
