@font-face {
    font-family: "icons";
    src: url("./icons.eot?33ed7e69357c845a8f3b318c90dc451c#iefix") format("embedded-opentype"),
url("./icons.woff2?33ed7e69357c845a8f3b318c90dc451c") format("woff2"),
url("./icons.woff?33ed7e69357c845a8f3b318c90dc451c") format("woff");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-x-lg:before {
    content: "\f101";
}
.icon-three-dots-vertical:before {
    content: "\f102";
}
.icon-table:before {
    content: "\f103";
}
.icon-repeat:before {
    content: "\f104";
}
.icon-remove-row-bottom:before {
    content: "\f105";
}
.icon-remove-column-right:before {
    content: "\f106";
}
.icon-record-circle:before {
    content: "\f107";
}
.icon-plus-lg:before {
    content: "\f108";
}
.icon-person-circle:before {
    content: "\f109";
}
.icon-list-ul:before {
    content: "\f10a";
}
.icon-list-ol:before {
    content: "\f10b";
}
.icon-lightning-charge:before {
    content: "\f10c";
}
.icon-grip-vertical:before {
    content: "\f10d";
}
.icon-fonts:before {
    content: "\f10e";
}
.icon-file-plus:before {
    content: "\f10f";
}
.icon-currency-euro:before {
    content: "\f110";
}
.icon-chevron-up:before {
    content: "\f111";
}
.icon-chevron-right:before {
    content: "\f112";
}
.icon-chevron-left:before {
    content: "\f113";
}
.icon-chevron-down:before {
    content: "\f114";
}
.icon-check-square:before {
    content: "\f115";
}
.icon-caret-right-fill:before {
    content: "\f116";
}
.icon-card-text:before {
    content: "\f117";
}
.icon-card-list:before {
    content: "\f118";
}
.icon-calendar2-date:before {
    content: "\f119";
}
.icon-arrows-angle-expand:before {
    content: "\f11a";
}
.icon-arrows-angle-contract:before {
    content: "\f11b";
}
.icon-add-row-bottom:before {
    content: "\f11c";
}
.icon-add-column-right:before {
    content: "\f11d";
}
.icon-9-square:before {
    content: "\f11e";
}
